Source: oskar
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, libblas-dev, liblapack-dev,
 libqt4-dev, libcasacore2-dev, libthrust-dev, libccfits-dev, libgsl0-dev,
 libatlas-base-dev, nvidia-cuda-toolkit
Standards-Version: 3.9.2
Homepage: http://www.oerc.ox.ac.uk/~ska/oskar2/

Package: oskar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Open Square Kilometre Array Radio Telescope Simulator
 The OSKAR package consists of a number of open source libraries and applications
 for the simulation of astronomical radio interferometers. OSKAR has been
 designed primarily to produce simulated data from large aperture arrays, such
 as those envisaged for the SKA.
