Source: oskar
Section: science
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: casacore-dev,
               cmake,
               debhelper (>= 9),
               libatlas-base-dev,
               libblas-dev,
               libccfits-dev,
               libcfitsio-dev,
               libgsl0-dev,
               liblapack-dev,
               libqt4-dev,
               libthrust-dev,
               nvidia-cuda-toolkit
Standards-Version: 3.9.8
Homepage: http://www.oerc.ox.ac.uk/~ska/oskar2/
Vcs-Git: https://anonscm.debian.org/git/debian-astro/packages/oskar.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-astro/packages/oskar.git

Package: oskar
Architecture: any
Depends: python, ${misc:Depends}, ${shlibs:Depends}
Description: The Open Square Kilometre Array Radio Telescope Simulator
 The OSKAR package consists of a number of open source libraries and
 applications for the simulation of astronomical radio interferometers. OSKAR
 has been designed primarily to produce simulated data from large aperture
 arrays, such as those envisaged for the SKA.
