#!/usr/bin/make -f
# -*- makefile -*-
#
#export DH_VERBOSE=1

CMAKE_FLAGS = -DCUDA_ARCH=3.5 -DCMAKE_BUILD_TYPE=Release

%:
	dh $@ --parallel

override_dh_auto_test:
	true

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)
