#!/usr/bin/make -f
# -*- makefile -*-
#
#export DH_VERBOSE=1

CMAKE_FLAGS = -DCUDA_ARCH=all -DCMAKE_BUILD_TYPE=Release -DCUDA_NVCC_FLAGS="-D_FORCE_INLINES"

%:
	dh $@ --parallel

override_dh_auto_test:
	true

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_makeshlibs:
	true

